#filters-set {
    color: #222;
    background-color: #f6f6f6;
    padding-top: 20px;
    max-width: 360px !important;
    margin-left: 0 !important;
}
#filters-set h4 {
    text-align: center;
    text-transform: uppercase;
}

#filters-set p {
    text-align: center;
}
#filters-set select,
#filters-set
input:not([type="checkbox"]):not([type="radio"]) {
    border: solid 1px #ddd;
    padding: 6px;
    width: 100%;
}

#filters-set
input:not([type="checkbox"]):not([type="radio"]) {
    height: 42px;
}

#filters-set {

}

#filters-set {

}

@media (min-width: 970px) {
    #filters-set {
        padding-top: 114px;
    }
}

@media (max-width: 969px) {

}


