[id^="body-filter"] #contacts-bottom {
    display: none;
}

.week{
    color:#999;
}

#filters-set {
    color: #222;
    background-color: #f6f6f6;
    padding-top: 11px;
    max-width: 750px !important;
    min-width: 240px !important;
    /* margin-left: 0 !important; */
}
#filters-set h4 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 19px;
}

#filters-set label {
    width: 32.5%;
}
#filters-set input[type="checkbox"]{
    border: solid 1px #999;
    margin-top: 15px;
    margin-right: 8px;
    padding: 10px;
    height: 20px;
    width: 20px;
    transform: translateY(6px);
    -webkit-appearance: none;
    appearance: none;
}

#filters-set input[type="checkbox"].checked{
    background-color: black;
    box-shadow:0 0 0 4px white inset;
    /*content:"■";*/
}

#filters-set p {
    font-size: 14px;
    margin-bottom: 6px;
    margin-top: 14px;
    text-align: center;
}
#filters-set .module-button.inverse{
    float: none;
    display: table;
    margin: 26px auto 0;
    max-width: 320px;
    padding: 14px;
    width: 100%;
}
#filters-set-commands{
    display: table;
    margin: 13px auto 20px;
}

#filters-set-commands a{
    border-bottom: dotted 1px #999;
    color: #999;
    display: inline-block;
    margin: auto 12px;
    text-decoration: none;
}
#filters-set-commands a:hover{
    border-bottom-color: #ce3133;
    color: #ce3133;
}

#filters-set select,
#filters-set
input:not([type="checkbox"]):not([type="radio"]) {
    border: solid 1px #ddd;
    padding: 6px;
    width: 100%;
}

#filters-set
input:not([type="checkbox"]):not([type="radio"]) {
    height: 32px;
}
#filters-set input[name="object_name"]{
    height:42px !important;
}

#filters-set .pull-left{
    width: calc(100% - 72px);
}

input.short{
    margin-right: 4px;
    max-width: 50%;
    width: calc(50% - 8px) !important;
}

select.short{
    color: #ce3133;
    width: 68px !important;
}

@media (min-width: 970px) {
    #filters-set {
        padding-top: 114px;
    }
}

@media (max-width: 969px) {
    [id^="body-filter"] #top-block{
        padding-bottom:0;
    }
    select, 
    input[type="text"]:not([name="object_name"]), 
    input[type="email"],
    input[type="password"], 
    input[type="tel"],
    input[type="url"], 
    input[type="file"]{
        height:33px;
    }
}


