@media print {
  body {
    font-family: Roboto;
  }
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  a[href]:after {
    content: none !important;
  }
  .top-block_menu,
  .top-block_menu-hide-button,
  .nonprint {
    display: none !important;
  }
  .top-block_info-1:first-child {
    display: list-item;
    list-style-image: url("http://test.clubskazka.ru/assets/images/icon-tel.png");
    list-style-position: inside;
  }
  .top-block_info-1 {
    position: relative;
    float: left;
    padding-right: 40px;
  }
  .top-block_info-1:last-child {
    display: inline-block;
    padding-right: 0;
  }
  .menu-fixed {
    display: inline-block;
    position: relative;
  }
  .top-hr {
    margin-top: 0;
  }
  .print {
    display: inline-block;
  }
  .slider-up {
    position: relative;
  }
  .slider-up .col-lg-12 {
    padding: 0;
  }
  .slider-up img {
    width: 100%;
    position: relative;
  }
  .slider-block-descr-textblock-info {
    font-family: Roboto;
    font-size: 30px !important;
    color: #333 !important;
    font-weight: 300 !important;
    line-height: 1.2 !important;
    text-transform: uppercase !important;
    display: inline-block;
    position: relative;
    width: 100%;
    padding-top: 25px !important;
    padding-bottom: 5px !important;
  }
  .breadcrumbs-block {
    color: #959595 !important;
    font-family: Roboto;
    font-size: 12px !important;
    width: 100%;
    display: inline-block;
    margin-bottom: 5px !important;
  }
  .big-block {
    color: #ce3133 !important;
  }
  .big-block .big-block-1 {
    font-family: Roboto;
    font-size: 30px !important;
    font-weight: 300;
    color: #ce3133 !important;
    line-height: 1;
  }
  .big-block .big-block-2 {
    font-family: Roboto;
    font-size: 18px !important;
    font-weight: 300;
    color: #ce3133 !important;
    line-height: 1;
  }
  .qr {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
  }
  .col-print-10 {
    width: 83.33333333% !important;
    margin-left: 8.33333333% !important;
  }
  .col-print-6 {
    width: 50% !important;
    display: inline-block !important;
    position: relative !important;
    float: left !important;
  }
  .print-padding {
    padding: 0 15px;
    margin-bottom: 15px;
  }
  .hr.print {
    display: inline-block !important;
    position: relative !important;
    width: 100% !important;
    background-color: #f1f1f1 !important;
    height: 1px !important;
  }
  .linkmail {
    color: #ce3133 !important;
  }
  .center {
    text-align: center !important;
  }
  .footer-print {
    width: 100% !important;
  }
}
