extends ./layout
block vars
	-var bodyindex="cottage"
block contents
	hr.top-hr
	.container
		.row
			.col-xs-10.col-sm-10.col-md-10.col-lg-10.col-xs-offset-1.col-sm-offset-1.col-md-offset-1.col-lg-offset-1
				.module-title.title-inner-page Коттеджные поселки
		.row
			.col-xs-10.col-sm-10.col-md-10.col-lg-10.col-xs-offset-1.col-sm-offset-1.col-md-offset-1.col-lg-offset-1
				.subtitle-page
					| Благоприятнейшая экология, тишина, отсутствие суеты – вот главные плюсы элитных коттеджных поселков Подмосковья. На нынешний день, все больше горожан желают жить в загородных коттеджных поселках ближайшего Подмосковья. Возможность единения с природой, свежий воздух, отсутствие необходимости  ограничивать себя габаритами городской квартиры и спокойная, уютная жизнь вдали от нескончаемого шума загазованных московских улиц – вот, что может дать приобретение загородного коттеджа.
		.topbottompagepadding
			.row
				.col-xs-10.col-sm-10.col-md-10.col-lg-10.col-xs-offset-1.col-sm-offset-1.col-md-offset-1.col-lg-offset-1.main-block
					.filter-block
						.row
							.col-xs-12.col-sm-12.col-md-12.col-lg-12
								.filter-block_find
									.filter-block_find-number 87
									.filter-block_find-text объектов для инвестиций
						.row
							.col-xs-12.col-sm-12.col-md-12.col-lg-12
								ul.finder-menu
									li.active По цене
									li По площади
									li По удаленности
					.row
						.col-xs-12.col-sm-12.col-md-12.col-lg-12
							.row
								.col-xs-12.col-sm-12.col-md-12.col-lg-12
									.cottage-poselok-item
										.row
											.col-xs-3.col-sm-3.col-md-3.col-lg-3
												img(src='assets/images/testimage/poselok1.png')
											.col-xs-6.col-sm-6.col-md-6.col-lg-6
												.cottage-poselok-item-info
													.cottage-poselok-item-info-text Можайское шоссе
													.cottage-poselok-item-name Жаворонки-2
													.cottage-poselok-item-info-text
														| От МКАД:
														.red-text 20км
													.cottage-poselok-item-info-text
														| Общая территория:
														.red-text 7га
													.cottage-poselok-item-info-text
														| Количество домовладений:
														.red-text 54
											.col-xs-3.col-sm-3.col-md-3.col-lg-3
												.cottage-poselok-item-info2
													.cottage-poselok-item-info2-price от 145 700 000 руб
													.cottage-poselok-item-info2-text
														| На продажу:
														a(href='') 30 объектов
													.cottage-poselok-item-info2-text
														| Аренда:
														a(href='') 0 объектов
									.cottage-poselok-item
										.row
											.col-xs-3.col-sm-3.col-md-3.col-lg-3
												img(src='assets/images/testimage/poselok2.png')
											.col-xs-6.col-sm-6.col-md-6.col-lg-6
												.cottage-poselok-item-info
													.cottage-poselok-item-info-text Можайское шоссе
													.cottage-poselok-item-name Жаворонки-2
													.cottage-poselok-item-info-text
														| От МКАД:
														.red-text 20км
													.cottage-poselok-item-info-text
														| Общая территория:
														.red-text 7га
													.cottage-poselok-item-info-text
														| Количество домовладений:
														.red-text 54
											.col-xs-3.col-sm-3.col-md-3.col-lg-3
												.cottage-poselok-item-info2
													.cottage-poselok-item-info2-price от 145 700 000 руб
													.cottage-poselok-item-info2-text
														| На продажу:
														a(href='') 30 объектов
													.cottage-poselok-item-info2-text
														| Аренда:
														a(href='') 0 объектов
									.cottage-poselok-item
										.row
											.col-xs-3.col-sm-3.col-md-3.col-lg-3
												img(src='assets/images/testimage/poselok3.png')
											.col-xs-6.col-sm-6.col-md-6.col-lg-6
												.cottage-poselok-item-info
													.cottage-poselok-item-info-text Можайское шоссе
													.cottage-poselok-item-name Жаворонки-2
													.cottage-poselok-item-info-text
														| От МКАД:
														.red-text 20км
													.cottage-poselok-item-info-text
														| Общая территория:
														.red-text 7га
													.cottage-poselok-item-info-text
														| Количество домовладений:
														.red-text 54
											.col-xs-3.col-sm-3.col-md-3.col-lg-3
												.cottage-poselok-item-info2
													.cottage-poselok-item-info2-price от 145 700 000 руб
													.cottage-poselok-item-info2-text
														| На продажу:
														a(href='') 30 объектов
													.cottage-poselok-item-info2-text
														| Аренда:
														a(href='') 0 объектов
									.cottage-poselok-item
										.row
											.col-xs-3.col-sm-3.col-md-3.col-lg-3
												img(src='assets/images/testimage/poselok1.png')
											.col-xs-6.col-sm-6.col-md-6.col-lg-6
												.cottage-poselok-item-info
													.cottage-poselok-item-info-text Можайское шоссе
													.cottage-poselok-item-name Жаворонки-2
													.cottage-poselok-item-info-text
														| От МКАД:
														.red-text 20км
													.cottage-poselok-item-info-text
														| Общая территория:
														.red-text 7га
													.cottage-poselok-item-info-text
														| Количество домовладений:
														.red-text 54
											.col-xs-3.col-sm-3.col-md-3.col-lg-3
												.cottage-poselok-item-info2
													.cottage-poselok-item-info2-price от 145 700 000 руб
													.cottage-poselok-item-info2-text
														| На продажу:
														a(href='') 30 объектов
													.cottage-poselok-item-info2-text
														| Аренда:
														a(href='') 0 объектов
					// <div class="pagination">
					// <div class="row">
					// <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
					// <ul>
					// <li class="prev"><a href=""><i class="fa fa-chevron-left"></i>Назад</a></li>
					// <li class="active"><a href="">1</a></li>
					// <li><a href="">2</a></li>
					// <li><a href="">3</a></li>
					// <li class="between"><a href="">&mdash;</a></li>
					// <li><a href="">46</a></li>
					// <li class="next"><a href="">Следующая <i class="fa fa-chevron-right"></i></a></li>
					// </ul>
					// </div>
					// </div>
					// </div>

