extends ../../layout
block vars
	-var bodyindex="filter-appartments"
block contents
	h4 Фильтр объектов
	input(placeholder="Название, посёлок или населённый пункт")
	p Тип
	select(name="object_type")
