/*  mediaqueries

*/
#test-box{
    background-color: yellow;
    bottom: 0;
    height: 40px;
    opacity: 0.7;
    padding: 10px;
    position: fixed;
    right: 0;
    text-align: right;
    transition: all 0.2s ease;
    width: 200px;
    z-index: 10;
}
#test-box:hover{
    opacity: 1;
}
.transparent{
    opacity: 0;
}

@media (max-width: 970px){

    body {
        min-width: inherit;
    }
    .container {
        min-width: inherit !important;
    }
    .col-mobile-12{
        width: 100%;
    }

    .search-block-results_item{
        margin-bottom: 8px;
        position:relative;
    }

    .search-block-results 
        .search-block-results_item 
            .search-block-results-title{
        color: white;
        /* left: 37px; */
        position:absolute;
        top: 0;
    }
    .search-block-results 
    .search-block-results_item 
        .search-block-results-title
            .search-block-results-title1{
        margin-left: 22px;    
        width: 50px;
    }
    .search-block-results 
        .search-block-results_item 
            .search-block-results-title
                .search-block-results-title1
                    img{
        float:right;
    }
    .search-block-results 
        .search-block-results_item 
            .search-block-results-title
                .search-block-results-title2{
        /* background-color: black; */
        margin-left: 10px;
    }

    .search-block-results_item
        a.btn-main {
        display:table-cell;
        float:left;
        font-size: 13px;
        height:34px;
        line-height: 16px;
        vertical-align:middle;
    }

    .search-block-results-btn{
        bottom: 21px;
        padding-top: 0 !important;
        position: absolute;
        left: 98px;
    }

    .search-block-results_item
        a.btn-main:first-child {
            border: none;
            margin-right:5px;
            width:90px;
    }

    .search-block-results_item
        a.btn-main:last-child {
            background-color: transparent;
            color: white;
            width:121px;
    }

    hr,
    .hidden-mobile,
    .owl-controls,
    .owl-wrapper-outer{
        display: none !important;
    }
    #contacts{
        background-color: #F0F0F0;
        height: 70px;
        margin-top: 17px;
        padding-top: 8px !important;
        text-align: center;
    }
    #contacts .top-block_info-1{
        background-position: 1px 10px;
        background-size: 23px;
        color: #b23537;
        display: inline-block;
        font-size: 26.5px;
        line-height: inherit;
        margin-top: 0;
        padding: 0 0 0 32px;
        text-decoration: underline;
    }
    #contacts .top-block_info-2{
        color: #333;
        font-size: 12px;
    }
    #found{
        margin-top: 178px;
    }
    #hr-separator-1{
        display: none;
    }
    #logo-block{
        float: none;
    }
    #search-box{
        padding-top:12px;
    }
    #search-box 
        div:first-child{
        display: block;
        float: none;
        height: auto;
        margin: auto;
    }
    #search-box 
        .search-block_text::after{
        color:#999;
        content:"Поиск объектов";
        display:block;
        font-family: Roboto;
        font-size:12px;
        margin-left: -39px;
        margin-top: 8px;
        text-align:center;
        text-transform:none;
    }
    #search-box div:last-child{
        display: block;
        float: none;
    }    
    #top-block{
        position: relative;
    }
    #top-block-menu{
        border: none !important;
        margin-top: 0;
    }
    #top-menu-box{
        position: absolute;
        right: -15px;
        top: 0;
    }
}