.big-block
	span.big-block-1 49 900 000
	span.big-block-2  руб
.pricevalue-block
	.pricevalue-block-title Показать цену в
		.pricevalue-block-box
			.pricevalue-block-rub.active
				i.fa.fa-rub.active
			.pricevalue-block-dollar
				i.fa.fa-dollar
			.pricevalue-block-euro
				i.fa.fa-euro
